
<%= form_for(comment) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.hidden_field :blog_id, value: params[:id] %>
  </div>

  <div class="well">

      <h4>Leave a Comment:</h4>
      <form role="form">
          <div class="form-group">
            <%= f.text_area :comment %>
            <!-- <h6>My Name:</h6>
            <%= f.text_field :name %> -->
          </div>

  <div class="actions"><%= f.submit %></div>


<% end %>

<div class="container">
<blockquote>
    <h2>Posted Comment</h2>
    Lorem Ipsum. You can reply to this below.
</blockquote>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion"
          href="#collapseOne">
          Click to reply
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
          ### The comment form comes here ###<br/>
          ### render :partial => 'comment/form'
      </div>
    </div>
  </div>
</div>

</form>
</div>
