<h1>DeliveryNotification#welcome</h1>

<p>
  <%= @greeting %>,
  My name is <%= @person.first_name %><%=@person.last_name%>
  My phone # is <%=@person.phone%>

  could you please hlep me with
  <%=@person.message%>

  Thank you,
</p>
